{% extends 'base.html' %}
{% load static %}


{% block title %}
Sign In
{% endblock title %}

{% block content %}


<h2>Please Sign In</h2>

    <form method="post">
        {% csrf_token %}
        
        <div class="container">
            <h3>username</h3>
            {{ form.username }}
        </div>
        <br>
        <div class="container">
            <h3>password</h3>
            {{ form.password }}
        </div>
        <br>
        <div class="container">
            <input type="submit" value="Log In" class="btn btn-warning"><br>
        </div>
    </form>
    
<div class="container">
    <a href="{% url 'home:home' %}" class="btn btn-info">Back</a>
</div>


{% endblock content %}